<div class="container-fluid" ng-controller="mainController">
    <div class="row">
        [Top menu] [User info]
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Jog Tracker</a>
                    <ul class="nav">
                        <li><a ui-sref="main.jogs">Jogs</a></li>
                        <li><a ui-sref="main.reports">Reports</a></li>
                        <li><a ui-sref="main.admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div ui-view></div>
        </div>
    </div>
</div>
