<div ng-controller="mainController">
    <div>
        [Top menu] [User info]
    </div>
    <div>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Jog Tracker</a>
                <ul class="nav">
                    <li><a ui-sref="main.jogs">Jogs</a></li>
                    <li><a ui-sref="main.reports">Reports</a></li>
                    <li><a ui-sref="main.admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <input type="text" ng-model="email" placeholder="email"><br>
        <input type="text" ng-model="firstName" placeholder="first name"><br>
        <input type="text" ng-model="lastName" placeholder="last name"><br>
        <input type="password" ng-model="password" placeholder="password"><br>


        <input type="button" ng-click="registerPlease()" value="Register" />
        <div ui-view></div>
    </div>
</div>
