.error-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #ffeaea;
}
.error-box h3 {
  font-size: medium;
  font-weight: bold;
  padding-left: 20px;
}
