@import 'jogTrackerShared';

$jogBorder: 1px solid #bbb;
$selectedJogBackgroundColor: #F7F2E0;
$jogBackgroundColor: #f5f5f5;
$jogHoverColor: #F7F2E0;

.no-data {
    color: #555;
    font-size: 16px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jogs-list .pagination {
    padding-left: 10px;
}

.jogs-list h3 {
    float: left;
    width: 20%;
}

.jog-entry {
    clear: both;
    margin: 8px;
    @include border-radius(4px);
    @include shadow();
    padding: 10px;
    border: $jogBorder;
    background-color: $jogBackgroundColor;
    height: 100px;

    &.selected {
        background-color: $selectedJogBackgroundColor;
    }

    &:hover {
        background-color: $jogHoverColor;
        cursor: pointer;
    }

    .date {
        display: block;
        font-size: 14px;
        color: #999;
        clear:both;
        padding-top: 10px;
    }

    .jog-field {
        float: left;
        font-size: 20px;
        width: 30%;

        span {
            display: block;
            font-size: 14px;
        }

        &.duration {
        }
        &.distance {
        }
        &.average {
            float: right;
        }
    }
}

.jog-filter {
    float: right;
    width: 80%;
    padding-right: 10px;

    span {
        float: right;
        margin-left: 10px;
        margin-top: 8px;
        color: #888;
    }

    input {
        float: right;
        width: 100px;
        margin-left: 10px;
    }
}

.jog-edit {
    .form-control {
        margin-bottom: 10px;
    }

    .error-box {
        margin-top: 10px;
        padding: 5px;
    }
}
