$error-background: #ffeaea;
$error-border: #ddd;
$box-padding: 10px;

$box-background: #fff;
$box-foreground: #444;
$box-border: #bbb;
$box-margin: 5px;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box .error-box {
    @include border-radius(4px);

    border: 1px solid $error-border;
    background-color: $error-background;

    h3 {
        font-size: 14pt;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 20px;
    }
}

.box {
    border: 1px solid $box-border;
    background-color: $box-background;
    padding: $box-padding;
    margin: $box-margin;
    color: $box-foreground;

    h1 {
        font-size: 20pt;
        margin-top: 2px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 16pt;
        margin-top: 2px;
        margin-bottom: 20px;
    }
}

