.register-error {
    border: 1px solid #ddd;
    background-color: #ffeaea;
    border-radius: 3px;

    h3 {
        font-size:medium;
        font-weight: bold;
        padding-left: 20px;
    }
}


