@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script>
        //Some basic JQuery handlers for now. Will switch to Angular soon.
        $( function() {

            $('#login').click(handleLogin);
            $('#login').click(handleLogoff);
            $('#login').click(handleSecureContent);
            var server = 'https://localhost:44301/';

          
            function handleLogin() {
                var loginData = 'grant_type=password&username=willem.odendaal@gmail.com&password=runUpYonderHills!';

                //Get token from server.
                $.post(server + 'Token', loginData)
                    .done(function(data) {
                        alert('done: ' + data);
                    })
                    .fail(function(err,a) {
                        console.log(err,a);
                        alert('error: ' + err);
                    });
            }

            function handleLogoff() {
            }

            function handleSecureContent() {
            }


        } );
    </script>
}

<div class="jumbotron">
    <h1>Jogging Time Tracker</h1>
    <p class="lead">All you need to leave the competition far behind.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login tester</h2>
        <p>
            Use these buttons to test logging in to the API.
        </p>
        <p><a class="btn btn-default" id="login" href="javascript:void(0);">Login &raquo;</a></p>
        <p><a class="btn btn-default" id="access-secure" href="javascript:void(0);">Access secure resource &raquo;</a></p>
        <p><a class="btn btn-default" id="logoff" href="javascript:void(0);">Logoff &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Column</h2>
        <p>
            Column content
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Column</h2>
        <p>
            Column content
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>